{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
        <div class="header-line">
            <div class="row header-part row-eq-height">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0px">
                   <div onclick="location.href='{{ path('pasze') }}'" id="pasze" class="cat">
                            <div class="grey-box"> 
                                 <p>pasze i karmy</p>
                            </div>
                        </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'zboza' }) }}'" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cat zboza">
                            <div class="grey-box"><p>zboża</p>
                                <span>i komponenty paszowe</span></div>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'ryby' }) }}'" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cat karmy">
                            <div class="grey-box"><p>karmy dla ryb</p>
                                <span>i zanęty wędkarskie</span></div>
                        </div>
                    </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'preparaty' }) }}'" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cat preparaty">
                            <div class="grey-box"><p>preparaty</p>
                                <span>probiotyczne</span></div>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'wyposazenie' }) }}'" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cat wyposazenie">
                            <div class="grey-box"><span>wyposażenie</span>
                                <p>rolnictwa</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="background:grey; padding:0px;">
                    <div class="cat">
                        <div class="flexslider" style="width: 100%; height:100%">
                            <ul class="slides" style="width: 100%; height:100%">
                            {% for bargain in bargains %}
                                <li style="height:100%"><div onclick="location.href='{{ path('offer_display', {'id' : bargain.link}) }}'" class="barg" style="background:url('{{ asset('images/' ~ bargain.photo) }}'); width:100%; height:100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                                        <span>{{ bargain.text }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="about" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 sec">
                    <hr>
                    <h1>{{ sections|first.name }}</h1>
                    <div class="sec-in">
                        <p>{{ sections|first.text|nl2br }}
                        </p>
                    </div>
                    <a href="#pasze"><img src="{{ asset('images/up_button.png') }}"></a>
                    <hr>
                </div>
            </div>
        </div>
        <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="collaboration" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 sec">
                    <hr>
                    <h1>{{ sections|last.name }}</h1>
                    <div class="sec-in">
                        <p>{{ sections|last.text|nl2br }}</p>
                    </div>
                    <a href="#pasze"><img src="{{ asset('images/up_button.png') }}"></a>
                    <hr>
                </div>
            </div>
        </div>
        <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="contact" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 sec">
                    <hr>
                    <h1>kontakt</h1>
                    <div class="sec-in row">
                        <div class="col-md-4 col-sm-12">
                            <h1 style="text-align:left;"><a href="https://www.google.pl/maps/place/Karmix+sp.j.+Perz+R.S./@49.9183044,18.9410331,17z/data=!3m1!4b1!4m5!3m4!1s0x4716a4f6d608d485:0xcdb4cf885fa4b668!8m2!3d49.918301!4d18.9432218">Mapa</a></h1>
                            <div id="map"></div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p style="font-size:20px">
                                <b>Siedziba:</b><br>
                                KARMIX Franciszek Gluza i Szymon Perz Sp. j.<br>
                                Huta 140,<br>
                                63-430 Odolanów.<br><br>
                                Oddział Karmix<br>
                                ul. Ks. Janoszka 32,<br>
                                43-516 Zabrzeg<br>
                                Godz. otwarcia pn-pt 7.00-16.00 sb 7.00-13.00<br><br>
                                <b>Telefon/fax</b><br>
                                32 214 22 70<br><br>
                                <b>Email</b><br>
                                <a href="mailto:karmix@osw.pl">karmix@osw.pl</a><br><br>
                                <b>Franciszek Gluza</b><br>
                                tel. 516 078 748<br>
                                Email: <a href="mailto:karmixfranek@osw.pl">karmixfranek@osw.pl</a><br><br>
                                <b>Szymon Perz</b><br>
                                tel. 505 028 428<br>
                                Email: <a href="mailto:karmixszymon@osw.pl">karmixszymon@osw.pl</a>
                            </p>
                        </div>
                    </div>
                    <a href="#pasze"><img src="{{ asset('images/up_button.png') }}"></a>
                    <hr>
                </div>
            </div>
        </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var myLatLng = {lat: 49.918553, lng: 18.943157};
        var map = new google.maps.Map(mapDiv, {
            center: myLatLng,
            zoom: 13
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Karmix'
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBw47zWKla6IK8CBGvgc7xSB9wk-i2tgQ	
&callback=initMap">
    </script>
{% endblock %}
