{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
        <div class="header-line">
            <div class="row header-part row-eq-height">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0px">
                   <div onclick="location.href='{{ path('pasze') }}'" id="pasze" class="cat">
                        <p>pasze i karmy</p>
                        </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'zboza' }) }}'" class="col-lg-6 cat zboza">
                            <p>zboża</p>
                            <span>i komponenty paszowe</span>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'ryby' }) }}'" class="col-lg-6 cat karmy">
                            <p>karmy dla ryb</p>
                            <span>i zanęty wędkarskie</span>
                        </div>
                    </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'preparaty' }) }}'" class="col-lg-6 cat preparaty">
                            <p>preparaty</p>
                            <span>probiotyczne</span>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'wyposazenie' }) }}'" class="col-lg-6 cat wyposazenie">
                            <span>wyposażenie</span>
                            <p>rolnictwa</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="background:grey;">
                    <div class="cat">
                        PROMO
                    </div>
                </div>
            </div>
        </div>
    <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="about" class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="background:yellow;">
                    o firmie
                </div>
            </div>
        </div>
        <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="collaboration" class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="background:yellow;">
                    współpraca<br><br>
                </div>
            </div>
        </div>
        <div class="lower-line">
            <div class="row row-eq-height lower-part">
                <div class="col-lg-2 col-md-2 blank">
                    
                </div>
                <div id="contact" class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="background:yellow;">
                    siedziba<br><br>
                </div>
            </div>
        </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
