{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
        <div class="header-line">
            <div class="row header-part row-eq-height">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0px">
                   <div onclick="location.href='{{ path('offer_list', { 'category' : 'drob' }) }}'" id="drob" class="cat">
                        <p>pasze i dodatki dla drobiu</p>
                        </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'wieprz' }) }}'" class="col-lg-6 cat wieprz">
                            <p>pasze i dodatki dla świń</p>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'bydlo' }) }}'" class="col-lg-6 cat bydlo">
                            <p>pasze i dodatki dla bydła</p>
                        </div>
                    </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'konie' }) }}'" class="col-lg-6 cat konie">
                            <p>pasze i dodatki dla koni, królików i szynszyli</p>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'golebie' }) }}'" class="col-lg-6 cat golebie">
                            <p>pasze i dodatki dla gołębi</p>
                        </div>
                    </div>
                    <div class="row cat-row">
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'psy' }) }}'" class="col-lg-6 cat psy">
                            <p>karmy dla psów i kotów</p>
                        </div>
                        <div onclick="location.href='{{ path('offer_list', { 'category' : 'ogolne' }) }}'" class="col-lg-6 cat ogolne">
                            <p>pasze i dodatki do ogólnego stosowania</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="background:grey;">
                    <div class="cat">
                        PROMO
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
