<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Karmix Admin Panel{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/normalize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="main-box row">
        {% block body %}
           
        {% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
