{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="header-line">
            <div class="row header-part row-eq-height">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
                    
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

    
            <div class="offer">
                <div class="row">
                    <div class="col-md-4">
                            {% if offer.photo1 %}
                                <img class="img-responsive offer-photo" src="{{ asset('images/' ~ offer.photo1) }}">
                            {% else %}
                                <img class="img-responsive offer-photo" src="{{ asset('images/blank.jpg') }}">
                            {% endif %}
                    </div>
                    <div class="col-md-8">
                            <h1><b>{{ offer.name }}</b></h1><br>
                            <b>Zastosowanie:</b> {{ offer.application }} <br>
                            <b>Stan na magazynie:</b> {{ offer.state }} <br>
                            <b>Cena:</b> {{ offer.price }} zł / {{ offer.per }}
                    </div>  
                </div>
                            <br><b>Opis:</b><br>
                            {{ offer.description }}
                         
            </div>
                </div>
            </div>
    </div>
{% endblock %}
