{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="header-line">
            <div class="row header-part row-eq-height">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
                    
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

    
            <div class="offer">
                <table>
                    <tr>
                        <td>
                <img class="img-responsive offer-photo" src="{{ asset('images/blank.png') }}">
                        </td>
                        <td style="padding:20px">
                            <h1><b>{{ offer.name }}</b></h1><br>
                <b>Zastosowanie:</b><br> {{ offer.application }} <br>
                <b>Stan na magazynie:</b><br> {{ offer.state }} <br>
                <b>Cena:</b><br> {{ offer.price }} zł / {{ offer.per }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br><b>Opis:</b><br>
                            {{ offer.description }}
                        </td>
                    </tr>
                </table>
            </div>
                </div>
            </div>
    </div>
{% endblock %}
