{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Edycja oferty</h1>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Zapisz zmiany" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin') }}">Powrót do panelu</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
