{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
    <h1>Lista ofert</h1>
    
    </div>
    
    </div>
    <div class="col-md-12">
        <a href="{{ path('admin_offer_new') }}">Stwórz nową ofertę</a><br>
            <a href="{{ path('admin') }}">Powrót do panelu</a>
    </div>
    <div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Jednostka</th>
                <th>Zastosowanie</th>
                <th>Stan</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.name }}</td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.per }}</td>
                <td>{{ offer.application }}</td>
                <td>{{ offer.state }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_offer_show', { 'id': offer.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_offer_edit', { 'id': offer.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
