{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Oferta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ offer.name }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ offer.price }}</td>
            </tr>
            <tr>
                <th>Jednostka</th>
                <td>{{ offer.per }}</td>
            </tr>
            <tr>
                <th>Zastosowanie</th>
                <td>{{ offer.application }}</td>
            </tr>
            <tr>
                <th>Stan na magazynie</th>
                <td>{{ offer.state }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Zdjęcie 1</th>
                <td>{{ offer.photo1 }}</td>
            </tr>
            <tr>
                <th>Zdjęcie 2</th>
                <td>{{ offer.photo2 }}</td>
            </tr>
            <tr>
                <th>Zdjęcie 3</th>
                <td>{{ offer.photo3 }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ offer.tag }}</td>
            </tr>
            <tr>
                <th>Kategoria</th>
                <td>{{ offer.category }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin') }}">Powrót do panelu</a>
        </li>
        <li>
            <a href="{{ path('admin_offer_edit', { 'id': offer.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
